* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --color-white: #fff;
  --color-primary: #5EC2C0;
  --color-secondary: #6D7CB0;
  --color-title: #151515;
  --color-text: #404040;
  --color-shadow: #6d7bb083;
}

#__next {
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  background-color: #f5f5f5;
  color: var(--color-text);
}

@import "./components/c-header";